.page-header{
	background: darken(white,10);
	h1{
		font-weight: 300;
		
		span {
			font-weight: 700;
		}
	}
	a{
		text-decoration: none;
	}
}

.page-header-content{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 140px;

	@media(min-width: $desktop-breakpoint){
		flex-direction:row;
		justify-content: space-between;
	}
	
}